/*-| Template landing section |-*/

:host {
    width: 100%;
}

div.content-landing {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    margin: 0 0 70px 0;
    flex-wrap: wrap;
    padding: 0 100px;
}

div.content-landing>div {
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

div.content-landing>div>img {
    height: 100%;
    transform: scaleX(-1);
    animation: anim 2s infinite alternate;
}

@keyframes anim {
    from {
        transform: scaleX(-1) translateY(15px);
    }

    to {
        transform: scaleX(-1) translateY(0);
    }
}

div.content-landing>div>div {
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
}

div.content-landing>div>div>h2,
div.content-landing>div>div>p,
div.content-landing>div>div>a {
    color: var(--branco);
    text-decoration: none;
    margin: 10px 0;
}

div.content-landing>div>div>h2 {
    font-weight: bold;
    text-transform: uppercase;
    pointer-events: none;
    font-size: 28pt;
}

div.content-landing>div>div>p {
    color: var(--roxo);
    font-weight: bold;
    pointer-events: none;
}

div.content-landing>div>div>p:nth-child(3) {
    margin-top: 40px;
    pointer-events: fill;
}

div.content-landing>div>div>p>a {
    background-color: var(--branco);
    color: var(--laranja);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    font-size: 12pt;
}

div.content-landing>div>div>p>a:hover {
    opacity: .8;
}

div.content-landing>div>div>p>a>i {
    margin: 0 0 0 10px;
}

@media (max-width: 768px) {
    div.content-landing {
        height: fit-content;
        padding: 30px 0 0 0;
        width: 100%;
        justify-content: center;
        display: flex;
    }

    div.content-landing>div {
        min-width: 300px;
    }

    div.content-landing>div:nth-child(2) {
        margin: 30px 0 0 0;
    }

    div.content-landing>div>div>* {
        text-align: center;
    }
}