<app-section-landing
    texto="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"
    frase="Lorem ipsum dolor?" img="assets\img\logo_landing_3.png" dividerColor="var(--rosa)">
</app-section-landing>

<app-equipe></app-equipe>
<app-divider colorTop="var(--laranja)" colorBot="var(--verde)"></app-divider>

<app-section-projetos></app-section-projetos>
<app-divider colorTop="var(--verde)" colorBot="var(--laranja)"></app-divider>

<app-divider colorTop="var(--laranja)" colorBot="var(--roxo)"></app-divider>
<app-inscricao></app-inscricao>

<app-divider colorTop="var(--laranja)" colorBot="var(--rosa)"></app-divider>
<app-redes-sociais></app-redes-sociais>