<section class="content" id="conheca-equipe">
    <app-section-title title="Conheça as equipes"></app-section-title>
    <app-section-content
        text="Conheça as equipes de HTML e Scratch do projeto Meninas na T.I. 2022"
        img="assets/img/img1.png"></app-section-content>
    
    <app-section-title title="Equipe HTML"></app-section-title>
    <app-cards-carousel-two></app-cards-carousel-two>
    <app-section-title title="Equipe Scratch"></app-section-title>
    <app-cards-carousel-three></app-cards-carousel-three>
    <app-section-title title="Coordenadores"></app-section-title>
    <app-coordenadores></app-coordenadores>
</section>