<article class="social-medias anime">
    <div class="insta">
        <div>
            <i class="fa-brands fa-instagram"></i>
            <p>Instagram</p>
        </div>
    </div>
    <div class="face">
        <div>
            <i class="fa-brands fa-facebook-f"></i>
            <p>Facebook</p>
        </div>
    </div>
    <div class="yt">
        <div>
            <i class="fa-brands fa-youtube"></i>
            <p>Youtube</p>
        </div>
    </div>
    <div class="tt">
        <div>
            <i class="fa-brands fa-tiktok"></i>
            <p>TikTok</p>
        </div>
    </div>
</article>