<article class="social-medias anime">
    <a class="insta" target="_blank" href="https://www.instagram.com/meninasnati/">
        <div>
            <i class="fa-brands fa-instagram"></i>
            <p>Instagram</p>
        </div>
    </a>
    <a class="face" target="_blank" href="https://www.facebook.com/meninasnati/">
        <div>
            <i class="fa-brands fa-facebook-f"></i>
            <p>Facebook</p>
        </div>
    </a>
    <a class="yt" target="_blank" href="https://www.youtube.com/channel/UC3LdhdB9TPqgiLk1Ms_1JAA/videos">
        <div>
            <i class="fa-brands fa-youtube"></i>
            <p>Youtube</p>
        </div>
    </a>
    <a class="tt" target="_blank" href="#">
        <div>
            <i class="fa-brands fa-tiktok"></i>
            <p>TikTok</p>
        </div>
    </a>
</article>