<section class="content" id="como-participar">
    <app-section-title title="Como participar"></app-section-title>
    <app-section-content
        text="Lorem ipsum dolor sit amet, no fabulas voluptua sed, utinam interesset cu nec. In vis senserit erroribus intellegat, eum meis habeo at. Et nonumes facilis torquatos mei, et viris apeirian referrentur cum. Eu electram torquatos nec, sit mazim graeco eruditi ne. Et per natum philosophia, graeci eloquentiam at mea, nihil molestiae has te. Duo consul fabulas ea, sea ex iracundia repudiandae."
        img="assets/img/img3.png"></app-section-content>
    <app-inscricao-panel></app-inscricao-panel>
</section>