<div>
    <div class="card">
        <h2>Raphael</h2>
        <p>HTML</p>
        <p class="button"><a href="#">Redes Sociais</a></p>
    </div>
    <div class="card">
        <h2>Isabela</h2>
        <p>HTML</p>
        <p class="button"><a href="#">Redes Sociais</a></p>
    </div>
    <div class="card">
        <h2>João</h2>
        <p>HTML</p>
        <p class="button"><a href="#">Redes Sociais</a></p>
    </div>
    <div class="card">
        <h2>Nícolas</h2>
        <p>HTML</p>
        <p class="button"><a href="#">Redes Sociais</a></p>
    </div>
    <div class="card">
        <h2>Jonatas</h2>
        <p>HTML</p>
        <p class="button"><a href="#">Redes Sociais</a></p>
    </div>
</div>