<div>
    <div class="card">
        <h2>Bolsista/Voluntário</h2>
        <p>Projeto</p>
        <p class="button"><a href="#">Redes Sociais</a></p>
    </div>
    <div class="card">
        <h2>Bolsista/Voluntário</h2>
        <p>Projeto</p>
        <p class="button"><a href="#">Redes Sociais</a></p>
    </div>
    <div class="card">
        <h2>Bolsista/Voluntário</h2>
        <p>Projeto</p>
        <p class="button"><a href="#">Redes Sociais</a></p>
    </div>
    <div class="card">
        <h2>Bolsista/Voluntário</h2>
        <p>Projeto</p>
        <p class="button"><a href="#">Redes Sociais</a></p>
    </div>
</div>