<div>
    <div class="card">
        <h2>Raphael</h2>
        <p>Bolsista • HTML</p>
        <div class="buttons">
            <p class="button linkedin">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </p>
            <p class="button insta">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </p>
            <p class="button github">
                <a href="#"><i class="fa-brands fa-github"></i></a>
            </p>
        </div>
    </div>
    <div class="card">
        <h2>Isabela</h2>
        <p>Bolsista • HTML</p>
        <div class="buttons">
            <p class="button linkedin">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </p>
            <p class="button insta">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </p>
            <p class="button github">
                <a href="#"><i class="fa-brands fa-github"></i></a>
            </p>
        </div>
    </div>
    <div class="card">
        <h2>João</h2>
        <p>Bolsista • HTML</p>
        <div class="buttons">
            <p class="button linkedin">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </p>
            <p class="button insta">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </p>
            <p class="button github">
                <a href="#"><i class="fa-brands fa-github"></i></a>
            </p>
        </div>
    </div>
    <div class="card">
        <h2>Nícolas</h2>
        <p>Voluntário • HTML</p>
        <div class="buttons">
            <p class="button linkedin">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </p>
            <p class="button insta">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </p>
            <p class="button github">
                <a href="#"><i class="fa-brands fa-github"></i></a>
            </p>
        </div>
    </div>
    <div class="card">
        <h2>Jonatas</h2>
        <p>Voluntário • HTML</p>
        <div class="buttons">
            <p class="button linkedin">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </p>
            <p class="button insta">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </p>
            <p class="button github">
                <a href="#"><i class="fa-brands fa-github"></i></a>
            </p>
        </div>
    </div>
    <div class="card">
        <h2>Juan</h2>
        <p>Voluntário • HTML</p>
        <div class="buttons">
            <p class="button linkedin">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </p>
            <p class="button insta">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </p>
            <p class="button github">
                <a href="#"><i class="fa-brands fa-github"></i></a>
            </p>
        </div>
    </div>
</div>