<div>
  <div class="card">
    <h2>Maria Jeanna</h2>
    <p>HTML & Scratch</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Luiz Henrique Kiehn</h2>
    <p>HTML & Scratch</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
</div>
