:host {
    width: 100vw;
    display: grid;
}

.title-footer-slider {
    position: relative;
    display: flex;
    font-size: 15pt;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    pointer-events: none;
    width: fit-content;
    justify-self: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 3))
    }
}

.slider {
    background: transparent;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slide {
    height: 100px;
    width: 250px;
}

.slide>img {
    object-fit: contain;
    padding: 20px;
}