<p class="title-footer-slider">Colaboradores</p>
<div class="slider">
  <div class="slide-track">
    <div class="slide">
      <img src="assets\img\caie.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logo.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/ifsp.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="assets\img\caie.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logo.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/ifsp.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="assets\img\caie.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/logo.png" height="100" width="250" alt="" />
    </div>
    <div class="slide">
      <img src="assets/img/ifsp.png" height="100" width="250" alt="" />
    </div>
  </div>
</div>
