:host {
    width: 90%;

    div {
        position: relative;
        display: flex;
        width: 100%;
        height: fit-content;
        margin-bottom: 50px;
        flex-wrap: wrap;
        justify-content: space-evenly;

        div.card {
            position: relative;
            display: flex;
            width: 350px;
            height: 250px;
            margin: 20px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
            border: none;
            background-image: linear-gradient(60deg, var(--rosa), var(--roxo), var(--laranja));
            justify-content: center;
            align-items: center;
            padding: 30px;
            min-width: 185px;

            &:nth-child(odd) {
                background-image: linear-gradient(60deg, var(--rosa), var(--roxo), var(--laranja));
            }

            &:nth-child(even) {
                background-image: linear-gradient(60deg, var(--laranja), var(--rosa), var(--roxo));
            }

            h2 {
                color: #fff;
                font-weight: 700;
                text-transform: capitalize;
                width: fit-content;
                font-size: 13pt;
            }

            p {
                color: #fff;
                font-weight: 200;
                font-size: 12pt;
                text-transform: capitalize;
                text-align: center;
            }

            div.buttons {
                position: relative;
                display: flex;
                width: 100%;
                height: fit-content;
                margin-top: 10px;
                padding: 20px 0;
                margin-bottom: 0;

                p.button {
                    position: relative;
                    display: flex;
                    width: 50px;
                    margin: 0;
                    height: 50px;
                    background-color: #fff;
                    color: #fff;
                    overflow: hidden;
                    border-radius: 8px;
                    justify-content: center;
                    align-items: center;
                    font-size: 20pt;
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                    transition: all .3s ease-in-out;

                    i{
                        pointer-events: none;
                    }

                    &.insta{
                        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                    }

                    &.linkedin{
                        background: linear-gradient(45deg, #0e76a8 0%,#1891c9 25%,#3e7e9c 50%,#3c8eb4 75%,#0e76a8 100%); 
                    }

                    &.github{
                        background: linear-gradient(45deg, #171515  0%,#292525 25%,#2e2929 50%,#1a1515 75%,#171515 100%); 
                   
                    }

                    a{
                        color: #fff;
                        text-decoration: none;
                    }

                    &:hover{
                        transition: all .3s ease-in-out;
                        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 50px, rgba(0, 0, 0, 0.43) 0px 6px 6px;
                        transform: scale(.95);
                    }
                }
            }
        }
    }
}
