<div>
  <div class="card">
    <h2>Ana Bia</h2>
    <p>Bolsista • Scratch</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Kettlyn</h2>
    <p>Bolsista • Scratch</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Bruna</h2>
    <p>Bolsista • Scratch</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Victória</h2>
    <p>Voluntária • Scratch</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Beatriz</h2>
    <p>Voluntária • Scratch</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
  <div class="card">
    <h2>Valéria</h2>
    <p>Voluntária • Scratch</p>
    <div class="buttons">
      <p class="button linkedin">
        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
      </p>
      <p class="button insta">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </p>
      <p class="button github">
        <a href="#"><i class="fa-brands fa-github"></i></a>
      </p>
    </div>
  </div>
</div>
