<section>
  <div class="landing-base">
    <div class="title">
      <p>Meninas na TI</p>
      <p>projeto HTML.</p>
    </div>
    <div class="content">
      <div>
        <h2>Conheça o projeto<br />e desenvolva seu próprio site.</h2>
        <p>
          High-quality and easy to use products<br />
          High-quality and easy to use products<br />
          High-quality and easy to use products
        </p>
        <div class="buttons">
          <p><a href="#">botão 01</a></p>
          <p><a href="#">botão 02</a></p>
        </div>
      </div>
      <div>
        <img src="assets/img/logohtml.png" alt="" />
      </div>
    </div>
  </div>
</section>
